<div class="container">

    <div class="row err-404-row something-wrong">
        <div class="text-center col-md-8 col-xs-12 col-md-offset-2">
 
            <h1 class="fa fa-plug" aria-hidden="true"></h1>
            <h2><strong>Something Went Wrong</strong></h2>

            <p>Please, search again using more specific keywords.</p>

        </div>
    </div>

</div>