* {
    box-sizing: border-box;
}

/* Create three columns of equal width */
.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
}

/* Style the list */
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Pricing header */
.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

/* List items */
.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

/* Grey list item */
.price .grey {
    background-color: #eee;
    font-size: 20px;
}

/* The "Sign Up" button */
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

.loader_hp_  .fa{
    font-size: 44px !important;
    position: absolute;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    }
    .loader_hp_::before {
    content: '';
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    }

    .modal-body .columns {
        float: none;
        margin: 0 auto;
    }
    
    .payment_details .modal-body .columns .price li .stripe-button-el{
        position: relative;
    }
    .payment_details .modal-body .columns .price li .stripe-button-el:before {
    content: 'Create Account';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding-top: 6px;
    color: #fff;
    font-weight: 700;
    background-image: -webkit-linear-gradient(#28a0e5,#015e94);
    background-image: -moz-linear-gradient(#28a0e5,#015e94);
    background-image: -ms-linear-gradient(#28a0e5,#015e94);
    background-image: -o-linear-gradient(#28a0e5,#015e94);
    background-image: -webkit-linear-gradient(#28a0e5,#015e94);
    background-image: -moz-linear-gradient(#28a0e5,#015e94);
    background-image: -ms-linear-gradient(#28a0e5,#015e94);
    background-image: -o-linear-gradient(#28a0e5,#015e94);
    background-image: linear-gradient(#28a0e5,#015e94);
}
.payment-detail.signup-wrapper {
    margin-bottom: 0;
}
.payment-detail .logo-wrap {
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Change the width of the three columns to 100% 
(to stack horizontally on small screens) */
@media only screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }
}