body{overflow-x: hidden;
        font-family: 'roboto',sans-serif;}
a,a:hover{text-decoration: none;}

/*Sign up page*/
.logo-wrap img{width: 120px;}
.logo-wrap{text-align: center; padding-top: 130px; padding-bottom: 80px;}
.sign-up-form input[type="email"],.sign-up-form input[type="password"],.sign-up-form input[type="text"]{
	width: 500px !important;
	height: 35px;
	box-shadow: none;
	border:1px solid #979797 !important;
	border-radius: 4px !important;
	margin-bottom: 30px;
}
.sign-up-form input[type="checkbox"]{
	width: 12px;
	height: 12px;
	border:1px solid #979797;
	-webkit-appearance:none;
    margin-right: 10px !important;
    position: relative;
    top: 1px;
}

.rem-me{
	font-size: 14px;
	color: #666;	
}
.sign-up-form input[type="checkbox"]:not(:checked) + .chk_check:after, .sign-up-form input[type="checkbox"]:checked + .chk_check:after{
	content: "";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: rgba(0,0,0,0.2);
    position: absolute;
    font-size: 0;
}
.sign-up-form input[type="checkbox"]:checked + .chk_check:after {
    content: "\f00c" !important;
    position: absolute;
    z-index: 2;
    left: 2px;
    top: 5px;
    font-size: 9px;
    color: #979797;
}
.continue-btn, .sign-up-link {
    color: #787779;
    font-size: 15px;
    background: transparent;
    box-shadow: none !important;
    border: 0;
}
.head{
	font-size: 14px;
	color: #9d9d9d;	
	text-align: center;
	margin-bottom: 30px;
}
.form-wrap {
    width: 66.66666667%;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
    background: #F4F0F5;
    border:1px solid #979797;
    border-radius: 4px;
}
.form-wrap .input-group{
	margin: 0 auto;
}
.form-bottom{
	display: inline-block;
    width: 500px;
}
.form-bottom .col-md-6:first-child{
	text-align: left;
    padding-left: 0;
}
.form-bottom .col-md-6:nth-child(2){
	text-align: right;
    padding-right: 0;
}
.form-bottom .col-md-6:first-child .input-group{margin:0;}
span.error-block {
    display: block;
    text-align: left;
    position: absolute;
    z-index: 9;
    bottom: 10px;
    font-size: 11px;
    color: red;
}
/*Sign up page*/

/*Home Page*/
section.dashboard-wrap {padding: 80px 0;}
.list-wrap ul{
	list-style-type: none;
	padding: 0;
	margin:0;

}
.list-wrap ul li{
	padding: 20px;
    background: #FCFCFC;
    border:1px solid #979797;
        display: inline-block;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}
.title h3 {
    margin: 0;
    color: #6e6e6e;
    font-size: 18px;
    padding-bottom: 1px;
}
.list-left{
	padding: 6px 0;
}
.uploaded-txt {
    color: #619ee5;
    font-size: 13px;
}
.list-left,.list-right {
    float: left;
    width: 50%;
}
.list-right {text-align: right;}

.pages-num {
    font-size: 18px;
    color: #6e6e6e;
    text-align: center;
    display: inline-block;
    padding-left: 40px;
        vertical-align: middle;
}
.message {
    font-size: 14px;
    color: #7ed321;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
.pages-num span {
    display: block;
}
.list-wrap {
    padding: 0 15px;
}
.ul_list_wapper .delete-pitch {
    margin-left: 40px;
    color: #f96868;
}
.ul_list_wapper .list-right{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: end;
-ms-flex-pack: end;
justify-content: flex-end;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}
/*Home Page*/

/*header*/
.custom-header {
	background-color: #4a4a4a;
	padding: 20px 0; 
}
.mobile-menu {display: none;}	
.menu-items {
    display: block;
    width: 100%;
}
.menu-items > ul,.search-box,.logged-user {
    display: inline-block;
    vertical-align: middle;
    width: 59%;
   
}
.search-box{padding: 0 15px; width: 25%;}
.logged-user{width: 15%; text-align: center; position: relative;}
.menu-items > ul,.logged-user ul{
	 padding: 0;
    margin: 0;
    list-style-type: none;
}
.menu-items > ul li {
    display: inline-block;
    padding: 0 50px;
    vertical-align: middle;
}
.menu-items > ul li:first-child {
    padding-left: 0;
}
.menu-items > ul li:last-child {
    padding-right: 0;
}
.menu-items > ul li a {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}
.menu-items > ul .logo img{height: 20px;}
.search-box .form-group {
    margin-bottom: 0;
}
.search-box .form-group input[type="text"]{
	border-radius: 12px;
    background: #edecec;
}
.account {position: relative;}
.account > a {
    font-size: 14px;
    color: #fff;
}
.account > a > span {
    display: block;
    font-style: italic;
}
ul.account-sub-menu li:first-child {margin-top: 15px;}
ul.account-sub-menu li {padding: 14px 0;}
ul.account-sub-menu {
    border: 1px solid #689bd6;
    border-radius: 10px;
    width: 160px;
    position: absolute;
    z-index: 99;
    background: #fff;
    text-align: center;
    right: 0;
    top: 90px;
        display: none;
    opacity: 0;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}
ul.account-sub-menu.show-menu {
	display: block;
	opacity: 1;
}

.account-sub-menu:before {
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #689bd6;
    content: "";
    position: absolute;
    top: -30px;
    left: 54%;
    transform: translateX(-54%);
}
ul.account-sub-menu li:last-child a {
    font-weight: 600;
}
ul.account-sub-menu li:last-child {
    border-top: 1px solid #689bd6;
}
.account{cursor: pointer;}
.account a{outline: none;}
nav.navigation {
    padding: 0 15px;
}

/*header*/

/*modal*/
.modal-header {
    text-align: center;
    background: #4a90e2;
    padding:5px 0;
}
.modal-title {
    color: #fff;
    font-size: 13px;
}
#SearchModal .modal-title{line-height: 40px;}
.modal-head {
    color: #6e6e6e;
    text-align: center;
    padding: 5px 0 20px;
}
.modal-body textarea {
    width: 600px;
    border: 1px solid #c0bec1;
    margin: 0 auto;
    height: 150px;
    padding: 10px;
}
.modal-header .close {
    margin-top: 0;
    line-height: 40px;
    padding-right: 20px;
}
.modal-dialog {
    width: 820px;
    text-align: center;
}
.modal-content .form-group {
    margin-bottom: 0;
}
.modal-body {
    position: relative;
    padding: 20px;
}
.modal-footer {
    border: 0;
    padding-top: 0;
    width: 600px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
}
.modal-footer button {
    border: 0;
    box-shadow: none !important;
    background: none;
    padding: 0;
    font-size: 14px;
    color:#85d62e;
}
.m-time {
    color: #6e6e6e;
    font-size: 13px;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 10px;
    padding-left: 25px;
}
.m-time {font-size: 11px;padding-bottom: 0;vertical-align: top;padding-top: 2px;}
.m-name {
    color: #6c6b6c;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 10px;
    font-size: 13px;
}
.msg-block .m-text p {margin: 0;}
.msg-block .m-name {padding-bottom: 10px;font-size: 13px;}
.msg-block {text-align: left;margin-bottom: 15px;border: 1px solid #ddd;border-radius: 4px;padding: 12px;    background: #f8f8f8;}
.m-text p {
    color: #6e6e6e;
    font-size: 13px;
}
.msg-block.msg_reply:before {content: " ";position: absolute;top: -6px;left: 22px;border-left: 6px solid transparent;border-right: 6px solid transparent;border-bottom: 6px solid #f8f8f8;z-index: 9;}
.msg-block.msg_reply:After {content: " ";position: absolute;top: -8px;left: 20px;border-left: 8px solid transparent;border-right: 8px solid transparent;border-bottom: 8px solid #ddd;}
.msg-block.msg_reply {margin-left: 30px;position: relative;}
#messageModal .modal-footer {
    width: 100%;
    text-align: left;
    padding-top: 20px;
    border-top: 1px solid #979797;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.msg-block:last-child {margin-bottom: 0;}
#messageModal .modal-footer .form-group { display: inline-block; text-align: left; width: 90%; }
#messageModal .modal-footer .form-group  textarea{ height: 30px; border: 0; width: 100%; padding: 0; vertical-align: middle;}
#messageModal .modal-footer .form-group  textarea:focus{outline: none;}
#messageModal .modal-footer button{padding-left: 10px;}
.modal-footer {width: 100%;padding-left: 20px;padding-right: 20px;}
.modal .modal-footer textarea {margin-top: 0;padding: 5px;border-radius: 4px;border: 1px solid #ddd;}
.input-group.input_chat button:hover {background: #85d62e;color: #fff;}
.input-group.input_chat button {color: #85d62e;padding: 5px 10px;border-radius: 4px;background: transparent;font-weight: normal;transition: ease-in-out .5s;}
.input-group.input_chat input {box-shadow: none;border: 0 !important;height: 46px;}
.input-group.input_chat {padding: 0px 15px;border-top: 1px solid #ddd;}
.modal-footer.modl_bottom_chat {padding: 0;}
button.close {float: none;position: absolute;left: 10px;top: 11px;line-height: normal !important;color: #fff;opacity: 1;}
.modal-header {padding: 15px 0;}
/*modal*/

/*Tables*/
.table-wrap,.form-wrapper{padding: 50px 0; background-color: #F2F5F7;} 
.card-box {padding: 20px !important; border-radius: 3px !important; margin-bottom: 30px !important; background-color: #fff !important; -webkit-box-shadow: 0 10px 35px 0 rgba(154,161,171,.1) !important;  box-shadow: 0 10px 35px 0 rgba(154,161,171,.1) !important;
}
.table-wrap .col-md-6:nth-child(2n+1){clear: both;}
.card-box .header-title { margin-bottom: 8px !important; margin-top: 0 !important;}
.font-13 {font-size: 13px!important;}
.text-muted {color: #98a6ad!important;}
.mb-0, .my-0 {margin-bottom: 0!important;}
.table {width: 100% !important; max-width: 100% !important; margin-bottom: 24px !important; background-color: transparent !important; border-collapse: collapse !important;}
.table thead th{vertical-align: bottom; border-bottom: 2px solid #dee2e6 !important;}
.table-active, .table-active>td, .table-active>th, .table-hover .table-active:hover, .table-hover .table-active:hover>td, .table-hover .table-active:hover>th {background-color: rgba(0,0,0,.075) !important;}
.table-active, .table-active>td, .table-active>th, .table-hover .table-active:hover, .table-hover .table-active:hover>td, .table-hover .table-active:hover>th {background-color: rgba(0,0,0,.075) !important;}
.table td, .table th {padding: 15.2px!important; vertical-align: top !important; border-top: 1px solid #dee2e6 !important;}
.text-success {color: #31ce77!important;}
.table-success, .table-success>td, .table-success>th {background-color: #c5f1d9;}
.text-info {color: #35b8e0!important;}
.table-info, .table-info>td, .table-info>th {background-color: #c6ebf6 !important;}
.text-warning {color: #fbcc5c!important;}
.table-warning, .table-warning>td, .table-warning>th {background-color: #fef1d1 !important;}
.text-danger {color: #f34943!important;}
.table-danger, .table-danger>td, .table-danger>th {background-color: #fcccca !important;}
.table-sm td, .table-sm th {padding: 8px !important;}
.table-sm td, .table-sm th {padding: 8px !important; }
.table-bordered, .table-bordered td, .table-bordered th {border: 1px solid #dee2e6 !important;}
.table-bordered thead td, .table-bordered thead th {border-bottom-width: 2px !important;}
.table thead th {vertical-align: bottom !important; border-bottom: 2px solid #dee2e6 !important;}
.table .thead-light th {color: #495057 !important; background-color: #e9ecef !important; border-color: #dee2e6 !important;}
.table-dark {color: #fff !important; background-color: #212529 !important;}
.table-dark td, .table-dark th, .table-dark thead th {border-color: #32383e !important;}
.form-group {margin-bottom: 16px !important;}
.col-form-label {padding-top: calc(6px + 1px) !important; padding-bottom: calc(6px + 1px) !important; margin-bottom: 0 !important; font-size: inherit !important; line-height: 1.5 !important;}
.form-control {display: block !important;  width: 100% !important; padding: 6px 12px !important; font-size: 14px !important; line-height: 1.5 !important; color: #6c757d !important; background-color: #fff !important; border: 1px solid #ced4da !important; border-radius: 4px !important; -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out !important;transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out !important; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important; transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out !important;}
.dropdown-menu, .form-control, .modal-content, .popover {background-clip: padding-box !important;}
textarea {resize: vertical !important;margin-top: 100px;width: 100%;}
.form-control:disabled, .form-control[readonly] { background-color: #e9ecef !important; opacity: 1 !important;}
.form-control-plaintext { display: block !important; width: 100% !important; padding-top: 6px !important; padding-bottom: 6px !important; margin-bottom: 0 !important;line-height: 1.5 !important;color: #212529 !important; background-color: transparent !important; border: solid transparent !important; border-width: 1px 0 !important;}
select.form-control:not([size]):not([multiple]) {height: calc(36px + 2px) !important;}
input[type=time], input[type=datetime-local], input[type=month], input[type=date] { -webkit-appearance: listbox !important;}
input[type=color], input[type=range] {min-height: 38px !important;}
input[type=range] {width: 100% !important;}
.form-control:focus {color: #495057 !important; background-color: #fff !important;border-color: #80bdff !important; outline: 0 !important; -webkit-box-shadow: none !important; box-shadow: none !important;}

.custom-header.dashboard-header .menu-items > ul{width: 84%;}
/** for setting page ***/
.setting_inner_wrapper {max-width: 901px;margin: 0 auto;}
.head_global {color: #fff;text-align: center;padding: 12px 0;font-size: 18px;font-weight: 400;letter-spacing: 1px;line-height: 24px;margin: 0;}
.primary_color {background: #4a90e2;}
.form_inner_data {border: 1px solid #979797;padding: 35px;}
.setting_wrapper {padding: 50px 0;}
.form_inner_data form {max-width: 495px;margin: 0 auto;}
.form_inner_data input.form-control {border: 1px solid #979797 !important;box-shadow: none !important;background: #fbf9fc !important;height: 26px!important;line-height: normal !important;padding: 0 5px !important;color: #333 !important;}
.form_inner_data label {color: #333;font-weight: 400;padding: 4px 0px !important;line-height: normal !important;}
.form_inner_data input.form-control::-webkit-input-placeholder {color: #8a8a8a;font-weight: 400;}
.form_inner_data input.form-control::-moz-placeholder {color: #8a8a8a;font-weight: 400;}
.form_inner_data input.form-control:-ms-input-placeholder {color: #8a8a8a;font-weight: 400;}
.form_inner_data input.form-control:-moz-placeholder {color: #8a8a8a;font-weight: 400;}
.a_change_pass {right: -100px;font-size: 13px;top: 3px;font-weight: 400}
.form_inner_data .form-check {margin-bottom: 10px;}
.form_inner_data .form-check input {margin: 0;position: relative;top: 2px;}
.form_inner_data .form-check label {padding: 0 0 0 8px !important;}
.form_inner_data .form-group {margin-bottom: 20px !important;}
.btn_dicard {text-align: right;margin: 0 -10px;}
.btn_dicard button {color: #333;font-weight: 400;padding: 4px 15px !important;line-height: normal !important;border: 0;background: transparent;padding: 0 10px !important;}
/** end  setting page ***/

/*Tables forms*/
.top-area{margin-top: 100px !important;}
.top-area , .bottom-area , .bottom-btn{max-width: 700px;margin: 0 auto;}
.preview_box.display_current .bottom-btn{max-width: 100%;margin: 0 auto;}
.js .file {background-color: #fff;border: 2px solid #797979;border-radius: 0;display: block;line-height: 1;overflow: hidden;padding: 60px 0;position: relative;text-align: center;margin-bottom: 15px;}
.js .file.active .file-label {border: 0;clip: rect(0 0 0 0);height: 1px;margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
.js .file:hover {border-color: #c3c3c3;}
.js .file.focus {border-color: #709AD0;box-shadow: 0 0 0 1px #709AD0, 0 2px 0 1px #ddd;}
.js .file.focus::after {border-top-color: #709AD0;}
.js .file input,.js .file input::-webkit-file-upload-button {cursor: pointer;}
.js .file input {height: 100%;left: 0;opacity: 0;position: absolute;top: 0;width: 100%;font-size: 10em;}
.js .file-value {color: #709AD0;display: none;}
.js .file.active .file-value {display: inline;}
.js .file-label{color: #313131;font-size: 18px;font-weight: 500;}
.js .upld-btn{background-color: transparent;border: 2px solid #39cb04;background-image: none;font-size: 16px;padding: 6px 20px;margin-top: 15px;}
.js .fa{font-size: 100px;color: #39cb04;}
.bottom-area .form-group {display: -webkit-box;display: -ms-flexbox;display: flex;width: 100%;-webkit-box-align: center;-ms-flex-align: center;align-items: center;    -ms-flex-wrap: wrap;
    flex-wrap: wrap;}
.bottom-area label{width: 20%;color: #5f5e5e;}
.bottom-area .form-control{border-color: #5f5e5e !important;}
.bottom-btn {text-align: right;margin: 10px auto 10px;clear: both;}
.bottom-btn a{color: #111;margin: 0 5px;}
.bottom-btn a:last-child{margin-right: 0 !important;}
.bottom-btn a:first-child{margin-left: 0 !important;}
.bottom-btn a.a_another_btn{float: left;color: #337ab7;}
.preview{ background-color: #fff;border-radius: 0;display: block;line-height: 1;overflow: hidden;text-align: center;}
.preview img{width: 100%;margin: 0 auto;}
.preview video {border: 2px solid #797979;padding: 15px;width: 100%;}
.edit-wrap {margin-top: 100px;}
.edit-wrap .top-area {margin-top: 0px !important;}
.edit-wrap textarea {width: 100%;}
.edit-wrap .bottom-btn {width: 100%;max-width: 100%;padding: 0 15px;float: left;}
.col-md-12.top-area.preview {margin: 0 auto;float: none;}
.image_priview img{width: initial;}
.image_priview .preview {border: 1px solid #ddd;}
.action-table {margin: 10px;}
.card-box.blue-box {border: 1px solid #979797;margin-top: 70px;}
.card-box.blue-box .box-title {background-color: #4a90e2;color: #fff;margin: -20px -20px 30px -20px;padding: 10px;}
.card-box.blue-box .bottom-button-wapper {text-align: center;margin-bottom: 30px;}
.card-box.blue-box .action-wapper {margin: 0 20px;}
.card-box.blue-box .action-wapper .text-box_wapper {margin-bottom: 20px;}
.card-box.blue-box .action-wapper .hp_button {background: transparent;border: none;color: #619ee5;}
.card-box.blue-box .action-wapper .checkbox {margin: 15px 0;}
.card-box.blue-box .action-wapper #final_name {width: 50%;}
/* body .docx-outline{ width: initial !important; }
body .docx-cover .docx-frame .docx-wrapper .docx-outline .docx-container { position: initial !important; } */
.docs_priview .col-md-12.top-area.preview {max-width: 100%;}
.kuku-viewer-node { margin: 0px auto !important;width: 100% !important;overflow: initial !important;}
.pptx_file_type.display_current .kuku-viewer-node .docxjs-wrapper {margin: 0 !important;position: unset !important;}
#share_box .placeholder-screenshot {text-align: center;}
#share_box .link-place {text-align: center;margin: 20px 0 50px 0;}
#share_box .bottom-action {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: end;
-ms-flex-pack: end;justify-content: flex-end;}
#share_box .bottom-action button {background: transparent;border: none;}
#share_box .bottom-action button.copy_link_btn {color: #337ab7;}
#share_box .action-wapper {margin: 0;}
.analysis-section {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-pack: justify;
-ms-flex-pack: justify;justify-content: space-between;background: #f1f1f1;padding: 10px;margin-bottom: 5px;color: #656565;}
.analysis-section label {margin-bottom: 0 !important;}
.analysis-section label span{color: #1d1d1d;}
.user_pitch .gallery-wrap {border: 1px solid #f3f3f3 !important;}


.total_share{cursor: pointer;}
div#share_details .close { position: inherit;line-height: inherit;padding: 0;}
div#share_details ul.ul_list_wapper_sharing {list-style-type: none;text-align: left;padding-left: 0;margin-bottom: 0;}
div#share_details ul.ul_list_wapper_sharing li {padding: 10px;border-bottom: 1px solid #ddd;}
div#share_details .modal-footer{width: inherit !important;padding: 15px !important;}
div#share_details .modal-body {padding-bottom: 0;}
div#share_details  .modal-header {padding:15px 20px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;
align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
div#share_details  .modal-header::before , div#share_details  .modal-header::after {display: none;}

div#note_details .close { position: inherit;line-height: inherit;padding: 0;}
div#note_details ul.ul_list_wapper_note {list-style-type: none;text-align: left;padding-left: 0;margin-bottom: 0;}
div#note_details ul.ul_list_wapper_note li {padding: 10px;border-bottom: 1px solid #ddd;}
div#note_details .modal-footer{width: inherit !important;padding: 15px !important;}
div#note_details .modal-body {padding-bottom: 0;}
div#note_details  .modal-header {padding:15px 20px;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;
align-items: center;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;}
div#note_details  .modal-header::before , div#note_details  .modal-header::after {display: none;}

ul#conversation_list {
    list-style: none;
    text-align: left;
    padding-left: 0;
    margin-bottom: 0;
}
ul#conversation_list li {
    margin: 0 15px 10px 0;
    padding: 0px 0 10px 0;
    border-bottom: 1px solid #ddd;
}
ul#conversation_list li span {
    display: inline-block;
    width: 23px;
    height: 23px;
    vertical-align: middle;
    background: #4a90e2;
    text-align: center;
    line-height: 23px;
    color: #fff;
    border-radius: 50px;
    vertical-align: middle;
    margin-right: 5px;
}
ul#conversation_list li a {
    display: inline-block;
}
.float-right a.btn.btn-primary {float: right;margin: 10px;}
a.btn.btn-primary.float-right {float: right;}
.loader_hp_  .fa{
    font-size: 44px !important;
    position: absolute;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    }
.loader_hp_::before {
    content: '';
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    }

.loader_header_  .fa{
    font-size: 44px !important;
    position: absolute;
    z-index: 9999;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    }
.loader_header_::before {
    content: '';
    display: block;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    }
.custom-right.right {
        float: right;
}
span.memberpship_icon.glyphicon {
        margin-left: 10px;
        font-size: 15px;
        color: #4caf50;
}
.payment_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.signup-wrapper {
    margin-bottom: 50px;
}
.payment_details .modal-body .columns{
    width: 350px !important;
}
.payment_details .modal-body .columns .price li{padding: 10px;}
.payment_details .modal-body .columns .price .header{font-size: 20px;}
.payment_details .modal-body .columns .price .grey{font-size: 16px;}
#membership_plan button.btn-primary {margin-top: 40px;}
form#membership_plan .row:nth-child(3){margin: 30px 0;}
nav.navigation .search-box .form-group{margin-bottom: 0 !important;position: relative;}
.search-box .search_res {background-color: #ffffff;position: absolute;width: 100%;}
.search-box .search_res ul{list-style-type: none;padding: 0;margin: 0;-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);overflow-y: auto;max-height: 160px;}
.search-box .search_res ul li {padding: 6px 10px 0 10px;cursor: pointer;}
.search-box .search_res ul li:hover{background: #eee;}

.placeholder-screenshot img {
    width: 50%;
}

button.share.btn.btn-primary.float-right {
    margin-left: 11px;
    float: right;
}

@media screen and (max-width: 1199px){
	.menu-items > ul li{padding: 0 35px;}
}
@media screen and (max-width: 991px){
    .form_inner_data form {max-width: 470px;}
	.sign-up-form input[type="email"], .sign-up-form input[type="password"], .sign-up-form input[type="text"],.form-bottom{width: 400px;}
	.mobile-menu {display: inline-block; width: 48%; vertical-align: middle}
	
	.search-box{width: 35%;}
	.logged-user{text-align: right;}
	.mobile-menu a i { font-size: 24px;  color: #fff;}
	.menu-items > ul{
		display: none;
		position: absolute;
	    background: #4a4a4a;
	    padding: 15px;
	    left: 0;
	    top: 80px;
	}
	.menu-items > ul li{
		display: block;
	    width: 100%;
	    text-align: left;
	    padding: 10px 0;
	}
	.modal-dialog{width: 100%; padding: 0 15px; margin:10px auto;}
	.modal-footer{width: 100%; padding-right: 15px;}
	.modal-body textarea{width: 100%;}
	#messageModal .modal-footer .form-group{width: 60%;}
	#messageModal .modal-footer button{width: 38%;}
}
@media screen and (max-width: 767px){
    .form_inner_data input.form-control {margin-bottom: 5px;}
    .form_inner_data .form-group.row > div {padding: 0;}
    .form_inner_data .form-group.row {margin: 0;}
    .form_inner_data {padding: 20px 20px;}
    .a_change_pass {position: relative;right: 0;top: 0;margin-top: 5px;float: right;}
    .form_inner_data .form-group {margin-bottom: 10px !important;}
    .form_inner_data label {padding: 4px 0px 8px 0px !important;}
    .form_inner_data .form-check {padding-left: 15px;    position: relative;}
    .form_inner_data .form-check input {margin: 0;position: absolute;top: 2px;left: 0;}
    .form_inner_data .form-check label {padding: 0 0 0 8px !important;}
	.sign-up-form input[type="email"], .sign-up-form input[type="password"], .sign-up-form input[type="text"],.form-bottom{width: 100%;}
	.message{margin-bottom: 10px;}
	.pages-num span{display: inline-block;}
	.sign-up-form input[type="email"], .sign-up-form input[type="password"],.form-bottom{width: 100%;}
	.sign-up-form .input-group,.form-wrap{width: 100%;}
	.form-wrap{padding:15px;}
	.form-bottom{padding: 0 15px;}
    .logo-wrap {padding-top: 50px;padding-bottom: 30px;}
    .signup-wrapper {padding-bottom: 50px;}
    .col-md-12.current_preview {padding: 0;}
    embed.docs_priview_e {width: 100%;}
    .bottom-area label {width: 100%;}
    .js .file-label{line-height: 1.5;padding: 0 15px;}
    .edit-wrap .top-area {width: 100%;max-width: 100%;}
    .edit-wrap textarea {margin: 15px 0 0 0;width: 100%;}
    .card-box.blue-box .action-wapper #final_name {width: 85%;}
}
@media screen and (max-width: 600px){
	.mobile-menu{width: 33%;}
	.logged-user {width: 25%;}
    .search-box {width: 40%;}
    .payment_details .modal-body .columns{width: 100% !important;}
}
@media screen and (max-width: 480px){
	.list-left, .list-right{width: 100%;}
	.list-right{text-align: left;}
	.pages-num{padding-left: 0; display: block;    text-align: left;}
	.mobile-menu{width: 15%;}
	.logged-user {width: 29%;}
	.search-box {width: 50%;}
}