<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../adminComponents/headerFile.ejs %>
</head>

<body>
	<% include ../adminComponents/header.ejs %>
	<div class="form-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="card-box">
						<div class="setting_wrapper">
							<div class="container">
								<div class="setting_inner_wrapper">
									<h2 class="head_global primary_color">Setting</h2>
									<div class="form_inner_data">
										<form method="post" id="profile_form" name="profile">
											<div class="form-group row">
												<label class="col-sm-3 col-form-label">Name</label>
												<div class="col-sm-9">
													<div class="row">
														<div class="col-sm-6">
															<input type="text" class="form-control" id="fname" name="fname" placeholder="Denish" value="<%=data.first_name %>">
														</div>
														<div class="col-sm-6">
															<input type="text" class="form-control" id="lname" name="lname" placeholder="Smith" value="<%=data.last_name %>">
														</div>
													</div>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-3 col-form-label">Email Address</label>
												<div class="col-sm-9">
													<input type="email" class="form-control" id="" placeholder="denish@hubpitch.com" value="<%=data.email %>"
													 disabled>
												</div>
											</div>
											<div class="form-group row">
												<label class="col-sm-3 col-form-label">Password</label>
												<div class="col-sm-9">
													<a class="a_change_pass btn btn-sm" href="javascript:void(0)" data-toggle="modal" data-target="#changePassword"><span
														 class="glyphicon glyphicon-lock"></span> Change Password</a>
												</div>
											</div>
											<div class="btn_dicard">
												<button class="btn_form">Discard</button>
												<button type="submit" name="submit" value="submit" class="btn_form">Save</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div><!-- end card-box -->
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="changePassword" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Change Password</h4>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Password:</label>
							<div class="col-sm-9">
								<input type="password" class="form-control" id="password" name="password">
							</div>
						</div>
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Confirm Password</label>
							<div class="col-sm-9">
								<input type="password" class="form-control" id="confirm_password" name="confirm_password">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-default" onclick="changePassword()">Update</button>
				</div>
			</div>

		</div>
	</div>
	<!-- LOADER  -->
	<div class="loader_hp_">
		<i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
	</div>

	<script src="/js/module/admin/profile.js"></script>
	</div>
</body>

</html>