<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../component/headerFile.ejs %>
</head>

<body>
    <script src="/js/libraries/tinymce/tinymce.min.js"></script>
    <% include ../component/header.ejs %>
    <div class="container">
        

        <form class="add_new_pitch_form" id="add_pitch" enctype="multipart/form-data" method="POST">
            <div class="col-md-12">

                    <!-- Modals -->
                    
                    <div class="modal fade" id="conversation_box" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Upgrade Your Plan</h4>
                                </div>
                                <div class="modal-body">
                                    <ul id="conversation_list">
                                        
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                    
                        </div>
                    </div>

                <% if(pitch_limit != -1 && pitch_limits_plan !='true'){ %>
                <div class="left-pitches"><p> <span>  <%= pitch_limit %>/<%= total_pitch_limit %> </span> pitches left  </p> </div>
                <% } %>
                <div class="first-box" id="main-box">
                    <div class="top-area">
                        <div class="js">
                            <div class="file">
                                <div class="file-label">
                                    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                    <br> Drag and Drop a File to Edit for your Pitch
                                    <br>OR</br>
                                    <button type="button" class="btn btn-default upld-btn" >Upload a File</button>

                                </div>
                                <input type="file" name="drop_zone[]" id="drop_zone" onClick="showModal(<%= pitch_limit %>)" class="drop_zone_input">
                                <div class="file-value" aria-hidden="true"></div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-area">
                        <div class="form-group">
                            <label for="c-name">Company Name:</label>
                            <input type="text" class="form-control" id="c-name">
                        </div>
                    </div>
                    <div class="action_btn">
                        <div class="bottom-btn">
                            <a href="javascript:resetForm()" id="cancel_btn">Cancel</a>
                            <a href="javascript:void(0)" id="continue_btn_main" class="first_box_btn">Continue</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 placeholder" id="placeholder-box">
                <div class="top-area">
                    <div class="preview">
                        <img src="/img/preview.png" class="img-responsive" alt="preview">
                    </div>
                </div>
                <div class="bottom-btn">
                    <a href="javascript:void(0)" class="a_another_btn">Add Another Page</a>
                    <a href="javascript:resetForm()">Cancel</a>
                    <a href="javascript:void(0)" class="continue_btn">Continue</a>
                </div>
            </div>
            <div class="add_preview">

            </div>
            <div class="add_box_here">

            </div>
            <div class="edit-wrap placeholder" id="placeholder-box-2">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="top-area">
                            <div class="preview">
                                <img src="/img/preview.png" class="img-responsive" alt="preview">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <textarea rows="9" cols="" placeholder="Click to Edit"></textarea>
                    </div>
                    <div class="bottom-btn">
                        <a href="javascript:resetForm()">Cancel</a>
                        <a href="">Continue</a>
                    </div>
                </div>
            </div>
            <div class="row preview_file preview_box">
                <div class="preview-inner-wrap">
                    <div class="col-md-12 top-area preview">
                        <video width="400" controls>
                            <source src="" class="video_here"> Your browser does not support HTML5 video.
                        </video>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 text-box" style="display: none">
                        <textarea rows="9" cols="" class="text_box_ta" name="pitch_text[]" placeholder="Click to Edit"></textarea>
                    </div>
                </div>
                <div class="bottom-btn">
                    <a href="javascript:void(0)" class="a_another_btn">Add Another Page</a>
                    <a href="javascript:resetForm()">Cancel</a>
                    <a href="javascript:void(0)" class="continue_btn_draft">Draft</a>
                    <a href="javascript:void(0)" class="continue_btn_final">Continue</a>
                </div>
            </div>
            <div class="row preview_file_image image_priview preview_box">
                <div class="preview-inner-wrap">
                    <div class="col-md-12 top-area preview">
                        <img src="" alt="preview" class="preview_image" />
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 text-box" style="display: none">
                        <textarea rows="9" cols="" class="text_box_ta" name="pitch_text[]" placeholder="Click to Edit"></textarea>
                    </div>
                </div>
                <div class="bottom-btn">
                    <a href="javascript:void(0)" class="a_another_btn">Add Another Page</a>
                    <a href="javascript:resetForm()">Cancel</a>
                    <a href="javascript:void(0)" class="continue_btn_draft">Draft</a>
                    <a href="javascript:void(0)" class="continue_btn_final">Continue</a>
                </div>
            </div>
            
            <div class="row preview_file_docs docs_priview preview_box">
                <div class="preview-inner-wrap">
                    <div class="col-md-12 top-area preview">
                        <embed src="" class="docs_priview_e" width="500" height="600" />
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 text-box" style="display: none">
                        <textarea rows="9" cols="" class="text_box_ta" name="pitch_text[]" placeholder="Click to Edit"></textarea>
                    </div>
                </div>
                <div class="bottom-btn">
                    <a href="javascript:void(0)" class="a_another_btn">Add Another Page</a>
                    <a href="javascript:resetForm()">Cancel</a>
                    <a href="javascript:void(0)" class="continue_btn_draft">Draft</a>
                    <a href="javascript:void(0)" class="continue_btn_final">Continue</a>
                </div>
            </div>
            <div class="row preview_docx docs_priview preview_box">
                <div class="preview-inner-wrap">
                    <div class="col-md-12 top-area preview">
                        <!-- <button class="view-btn">view button</button> -->
                        <div class="kuku-viewer-node" style="width:1000px; height: 500px; border:1px solid #eee; margin: 20px 0;"></div>
                        <div class="kuku-docx-controller" style="display: none;">
                            <button class="btn prev-btn">
                                <i class="fa fa-arrow-left"></i> Prev</button>
                            <button class="btn next-btn">
                                Next
                                <i class="fa fa-arrow-right"></i>
                            </button>
                        </div>
                        <!--control button-->
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 text-box" style="display: none">
                        <textarea rows="9" cols="" class="text_box_ta" name="pitch_text[]" placeholder="Click to Edit"></textarea>
                    </div>
                </div>
                <div class="bottom-btn">
                    <a href="javascript:void(0)" class="a_another_btn">Add Another Page</a>
                    <a href="javascript:resetForm()">Cancel</a>
                    <a href="javascript:void(0)" class="continue_btn_draft">Draft</a>
                    <a href="javascript:void(0)" class="continue_btn_final">Continue</a>
                </div>
            </div>
            <div class="another-page-blank" style="display: none">
                <div class="col-md-12">
                    <div class="add-page-box">
                        <div class="top-area">
                            <div class="js">
                                <div class="file col-md-12">
                                    <div class="file-label">
                                        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                        <br> Drag and Drop a File to Edit for your Pitch
                                        <br>OR</br>
                                        <button type="button" class="btn btn-default upld-btn">Upload a File</button>
                                    </div>
                                    <input type="file" name="drop_zone[]" class="drop_zone_input">
                                    <div class="file-value" aria-hidden="true"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-btn">
                            <a href="javascript:resetForm()">Cancel</a>
                            <a href="javascript:void(0)" class="continue_btn">Continue</a>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" value="" id="pitch_id_val" name="pitch_id_val">
        </form>
        <div class="col-md-12" id="final_section">
            <form class="share_pitch">
                <div class="card-box blue-box">
                    <div class="box-title">
                        <span>Create a Link to your Pitch</span>
                    </div>
                    <div class="action-wapper">
                        <div class="text-box_wapper">
                            <label>Name: </label>
                            <input type="text" name="company_name" id="final_name">
                        </div>
                        <%  if(plan_type == 'true'){ %>
                        <div class="check-box-group">
                            <div class="checkbox">
                                <label>
                                    <input id="allow_notification" type="checkbox" value="checked" name="activity"
                                        checked>Send Notification When There Is Activity</label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input id="allow_messaging" type="checkbox" value="checked" name="allow_messging"
                                        checked>Allow For Messaging </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input id="allow_share" type="checkbox" value="checked" name="allow_share" checked>Allow
                                    For Pitch To Be Shared</label>
                            </div>
                        </div>
                        <% } %>
                        <div class="bottom-button-wapper">
                            <button class="create pitch hp_button" type="button" id="create_pitch">Create Pitch Link</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
        <div class="card-box blue-box" id="share_box">
            <div class="box-title">
                <span>Create a Link to your Pitch</span>
            </div>
            <div class="action-wapper">
                <div class="text-box_wapper">
                    <label>Name: </label>
                    <span id="pitch_name_t"> </span>
                    <input type="hidden" name="pitch_" id="pitch_id" value="">
                </div>
                <div class="placeholder-screenshot">
                    <img src="/img/preview.png" />
                </div>
                <div class="link-place">
                    <a id="link_value" href="" class="link_value"> </a>
                </div>
            </div>
            <div class="bottom-action">
                <div class="open_share_action"> <button type="button" data-toggle="modal" data-target="#addviewer">Send
                        Link Via Email</button> </div>
                <div class="button-wapper">
                    <button class="cancel" onclick="discardPitch()"> Cancel </button>
                    <button id="copy_link_btn" onclick="copyToClipboard('#link_value')"> Copy Link To Dashboard
                    </button>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="addviewer" role="dialog">
            <div class="modal-dialog">
                <form method="post" id="formEmail" name="formEmail">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add Viewers Email Address</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <input type="text" class="form-control" name="emails" id="emails" placeholder="(eg:abc@incipio.com,xyz@ncpo.com,....)" />
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="email_body" name="email_body"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href=javascript:checkEmails(); class="btn btn-primary">Send</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <input type="hidden" class="plan_" value="<%= plan %>">
    <!-- LOADER  -->
    <div class="loader_hp_">
        <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
    </div>
    <script src="/js/module/userPitch/new_pitch.js"></script>
</body>

</html>