<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../component/headerFile.ejs %>
</head>

<body>
    <% include ../component/header.ejs %>
        <div class="container">
            <form class="add_new_pitch_form" id="add_pitch" enctype="multipart/form-data" method="POST">
                <div class="col-md-12">
                    <div class="first-box" id="main-box">
                        <div class="top-area">
                            <div class="js">
                                <div class="file">
                                    <div class="file-label">
                                        <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                        <br> Drag and Drop a File to Edit for your Pitch
                                        <br>OR</br>
                                        <button type="button" class="btn btn-default upld-btn">Upload a File</button>
                                        
                                    </div>
                                    <input type="file" name="drop_zone[]" class="drop_zone_input">
                                    <div class="file-value" aria-hidden="true"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-area">
                            <div class="form-group">
                                <label for="c-name">Company Name:</label>
                                <input type="text" class="form-control" id="c-name">
                            </div>
                        </div>
                        <div class="action_btn">
                            <div class="bottom-btn">
                                <a href="javascript:void(0)" id="cancel_btn">Cancel</a>
                                <a href="javascript:void(0)" id="continue_btn_main" class="first_box_btn">Continue</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 placeholder" id="placeholder-box">
                    <div class="top-area">
                        <div class="preview">
                            <img src="/img/preview.jpg" class="img-responsive" alt="preview">
                        </div>
                    </div>
                    <div class="bottom-btn">
                        <a href="javascript:void(0)" class="a_another_btn">Add Another Page</a>
                        <a href="javascript:void(0)">Cancel</a>
                        <a href="javascript:void(0)" class="continue_btn">Continue</a>
                    </div>
                </div>
                <div class="add_preview">

                </div>
                <div class="add_box_here">

                </div>
                <div class="edit-wrap placeholder" id="placeholder-box-2">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="top-area">
                                <div class="preview">
                                    <img src="/img/preview.jpg" class="img-responsive" alt="preview">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea rows="9" cols="" placeholder="Click to Edit"></textarea>
                        </div>
                        <div class="bottom-btn">
                            <a href="">Cancel</a>
                            <a href="">Continue</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 preview_file">
                    <div class="top-area preview">
                        <video width="400" controls>
                            <source src="" class="video_here"> Your browser does not support HTML5 video.
                        </video>
                    </div>
                    <div class="bottom-btn">
                        <a href="javascript:void(0)" class="a_another_btn">Add Another Page</a>
                        <a href="javascript:void(0)">Cancel</a>
                        <a href="javascript:void(0)" class="continue_btn">Continue</a>
                    </div>
                </div>
                <div class="col-md-12 preview_file_image image_priview">
                    <div class="top-area preview">
                        <img src="" alt="preview" class="preview_image" />
                    </div>
                    <div class="bottom-btn">
                        <a href="javascript:void(0)" class="a_another_btn">Add Another Page</a>
                        <a href="javascript:void(0)">Cancel</a>
                        <a href="javascript:void(0)" class="continue_btn">Continue</a>
                    </div>
                </div>
                <div class="col-md-12 preview_file_docs docs_priview">
                    <div class="top-area preview">
                        <embed src="" class="docs_priview_e" width="500" height="600"/>
                    </div>
                    <div class="bottom-btn">
                        <a href="javascript:void(0)" class="a_another_btn">Add Another Page</a>
                        <a href="javascript:void(0)">Cancel</a>
                        <a href="javascript:void(0)" class="continue_btn">Continue</a>
                    </div>
                </div>
                <div class="another-page-blank" style="display: none">
                    <div class="col-md-12">
                        <div class="add-page-box">
                            <div class="top-area">
                                <div class="js">
                                    <div class="file">
                                        <div class="file-label">
                                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                                            <br> Drag and Drop a File to Edit for your Pitch
                                            <br>OR</br>
                                            <button type="button" class="btn btn-default upld-btn">Upload a File</button>
                                        </div>
                                        <input type="file" name="drop_zone[]" class="drop_zone_input">
                                        <div class="file-value" aria-hidden="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-btn">
                                <a href="javascript:void(0)">Cancel</a>
                                <a href="javascript:void(0)" class="continue_btn">Continue</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script src="/js/module/userPitch/new_pitch.js"></script>
</body>

</html>