<!DOCTYPE html>
<html lang="en">

<head>
	<% include ../component/headerFile.ejs %>
</head>

<body>
	<% include ../component/header.ejs %>
		<div class="setting_wrapper">
			<div class="container">
				<div class="setting_inner_wrapper">
					<h2 class="head_global primary_color">Setting</h2>
					<div class="form_inner_data">
						<form>
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">Name</label>
								<div class="col-sm-9">
									<div class="row">
										<div class="col-sm-6">
											<input type="text" class="form-control" id="" placeholder="Denish">
										</div>
										<div class="col-sm-6">
											<input type="text" class="form-control" id="" placeholder="Smith">
										</div>
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">Company Name:</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="" placeholder="hunPitch">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">Email Address</label>
								<div class="col-sm-9">
									<input type="email" class="form-control" id="" placeholder="denish@hubpitch.com">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">Password</label>
								<div class="col-sm-9">
									<input type="password" class="form-control" id="" placeholder="password1234">
									<a class="a_change_pass" href="#">change password</a>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">Notification</label>
								<div class="col-sm-9">
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
										<label class="form-check-label" for="defaultCheck1">Recieve Email when Pitch is Opened or Viewed</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
										<label class="form-check-label" for="defaultCheck1">Recieve Email when a New message is Recieved</label>
									</div>
									<div class="form-check">
										<input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
										<label class="form-check-label" for="defaultCheck1">Recieve Email when Pitch is shared</label>
									</div>
								</div>
							</div>
						</form>
						<div class="btn_dicard">
							<button class="btn_form">Discard</button>
							<button class="btn_form">Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>

</body>

</html>