<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- Optional theme -->

    <script src="/js/jquery.min.js"></script>
    <!--jquery js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- bootstrap js -->
    <script src="https://use.fontawesome.com/8a22b161e0.js"></script>
    <!-- font awesome -->

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- custom css -->

    <!-- Validation.Js -->
    <script src="/js/jquery.validate.min.js"></script>
</head>

<body>
    <section class="signup-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo-wrap">
                        <a href="#">
                            <img src="/img/logo.png" alt="Logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="signup-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-wrap">
                        <div class="head">Enter Your New Password</div>
                        <div class="sign-up-form">
                            <% if(expired == 'true'){ %>
                                <div class="alert alert-danger">
                                        <strong>Token Expired:</strong> Your Given Reset Token Expired
                                </div>
                            <% } else { %>
                            <form method="post" name="reset" class="reset_from" id="reset_form">
                                <input type="hidden" name="reset-token" id='reset_token' value=<%= reset_id %>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="password" class="form-control" name="password" id="password" placeholder="New Password">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="password" class="form-control" name="cpassword" placeholder="Confirm Password">
                                        </div>
                                    </div>
                                    <div class="form-bottom">
                                        <div class="col-md-6 col-sm-6">
                                            <button type="submit" class="continue-btn" id="reset_btn">Reset Password</a>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-5">
											<a href="/" class="continue-btn"><i class="glyphicon glyphicon-arrow-left"></i> Back To Login</a>
										</div>
                                    </div>
                                </div>
                            </form>
                            <% } %> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/module/login.js"></script>
</body>

</html>