<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- Optional theme -->

    <script src="/js/jquery.min.js"></script>
    <!--jquery js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- bootstrap js -->
    <script src="https://use.fontawesome.com/8a22b161e0.js"></script>
    <!-- font awesome -->

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/payment.css' />
    <!-- custom css -->

    <!-- Validation.Js -->
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/additional-methods.min.js"></script>
</head>

<body>
    <section class="signup-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="logo-wrap">
                        <a href="#">
                            <img src="/img/logo.png" alt="Logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="signup-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Payment Made Successfully</h3>
                    <a href="#">
                        <h4> Your Login Details Has Sent On Your Registrar Email Address </h4>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>